<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1><%= title %></h1>
  <p><%= message %></p>

  <h2>Items:</h2>
  <ul>
    <% items.forEach(function(item) { %>
      <li><%= item %></li>
    <% }); %>
  </ul>

  <img class="test" src="/images/tesst.png" alt="Sample Image" />
</body>
</html>